@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montagu+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Alkatra, montagu;
    font-weight: 300;
    color: #4a332d
}

/* headings and logo */

h1, h2 {
    font-family: Alkatra, montagu;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #4a332d;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;

}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #4a332d;
}

.active{
    border-bottom: 1px solid #4a332d;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpeg) no-repeat center center;
}

/* why yoga */

#why-yoga {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 100px;
    font-size: 280;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #4a332d
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

    #circle-cover-bg {
     background: url('../images/yoga-pose.jpeg') no-repeat center center;
     height: 100%;
     border-radius: 50%;

    }

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks >li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #4b2b9a;
}