@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montagu+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Alkatra, montagu;
    font-weight: 300;
    color: #4a332d
}

/* headings and logo */

h1, h2 {
    font-family: Alkatra, montagu;
    text transform: uppercase;
    letter-spacing: 4px;
    color: #4a332d;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 

}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;

}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #4a332d;
}

.active{
    border-bottom: 1px solid #4a332d;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpeg) no-repeat center center;
}

/* why yoga */

#why-yoga {
    height: 600px;

}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue ;
}

#right-about {

    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: silver;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: green;    
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks >li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #4b2b9a;